$pure-white-color: #fff;
$radius: 30px;
$gray: #302F35;

.right{
    color: $pure-white-color;
    width: 80%;
    padding-right: 2em;
    padding-top: 2em;

    .top{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1em;
        .icon_list{
            display: flex;
        }
        .search_box{
            display: flex;
            align-items: center;
            background-color: $gray;
            border-radius: $radius;
            padding:.5em;
            width: 30%;
            input[type='text']{
                border: none;
                background-color: $gray;
                margin-left: .5em;
                color: #fff;
                width: 100%;
            }
            input[type='text']:focus{
                border: none;
                background-color: #302F35;
                margin-left: .5em;
                outline: none;
            }
        }

        
    }

    .menu_item_content{
        margin-top: 1em;
        background-color: $gray;
        width: 100%;
        height: 85%;
        border-radius: $radius;
        .title_sec{
            padding: .8em 1.2em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1{
                font-size: 1.1em;
            }
            
            .filter_div{
                display: flex;
                border:  1px solid rgba(255,255,255,.4);
                align-items: center;
                justify-content: space-between;
                padding: .5em;
                border-radius: 10px;
                svg{
                    margin-left: .3em;
                }
            }
        }

        .stats_card_list{
            margin: 0% 1% 1% 1%;
            display: flex;
            justify-content: space-between;
        }
    }

    .bottom_section{
        padding: 2% 1% 1% 1%;
        display: flex;
        justify-content: space-between;
        height: 65%;
        .chart_section{
            width: 70%;
            height: 100%;
            .chart_sec_header{
                display: flex;
                justify-content: space-between;
                margin: .3em 0em;
               h3{
                   font-size: 1.1em;
                   margin: 0;
                   color: #fff;
               }
               .chart_title{
                   display: flex;
                   align-items: center;
                    .span{
                        font-weight: 300;
                        color: #dfdee4;
                        font-size: .8em;
                    }
               }
               .drop_down{
                    display: flex;
                    border:  1px solid rgba(255,255,255,.4);
                    align-items: center;
                    padding: .2em;
                    border-radius: 10px;
                    font-size: 1em;
    
               }
            }
            
        }
        .recent_activities{
            display: flex;
            flex-direction: column;
            width: 28%;
            h4{
                margin: 0;
                font-size: 1.1em;
            }
        }
    }
}

@media screen and (max-width: 900px){
    .right{
        width: 100%;
        padding: 0em .2em;
        .top{
            margin-left: 0em;
            .humberger_icon{
                width: 1.5em;
                .line_1,.line_2,.line_3{
                    border-bottom: 2px solid #fff;
                }
                .line_2,.line_3{
                    padding-bottom: .5em;
                }
            }
            .search_box{
                border-radius: 25px;
                padding:.4em;
                width: 35%;
            }
        }
        .menu_item_content{
            height: 90%;
            margin-top: .2em;
        }

        .bottom_section{
            .chart_section{
                width: 70%;
                height: 100%;
                .chart_sec_header{
                    margin: .4em 0em;
                   h3{
                       font-size: 1em;
                   }
                   .chart_title{
                        .span{
                            font-size: .7em;
                        }
                   }
                   .drop_down{
                        padding: .1em;
                        border-radius: 5px;
                        font-size: .7em;
                        text-align: center;
                   }
                }
                
            }
            .recent_activities{
                h4{
                    font-size: 1em;
                    margin-bottom: .7em;
                }
            }
        }
    }
}
